@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  h1, h2, h3 {
    font-family: "Clash Display";
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  /* SCROLL BAR */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded
    /* background: #bababa; */
    /* border-radius: 10px; */;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a4a3a3;
  }
}

@layer components {
  .input-field {
    border-radius: 60px !important;
    height: 35px !important;
    width: 100%;
    /* border: 1px solid #999999; */
    padding: 20px 5px;
    font-size: 0.9em !important;
    outline: none;
    background: white;
  }

  @keyframes slidein {
    0% {
      transform: translateX(90%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .movies-list, .modal {
    animation-duration: 0.3s;
    -webkit-animation-name: slidein;
    animation-name: slidein;
  }
}
